* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

nav {
    display: flex;
    align-items: baseline;
    background-color: #f4511e;
    color: white;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
}

h2 {
    font-weight: normal;
    font-size: 1.2em;
}

ul {
    display: flex;
    width: 35%;
    justify-content: end;
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

li {
    list-style: none;
    padding: 0 20px;
}

/*main*/

main {
    background-color: #f4511e;
    display: flex;
    flex-direction: column;
    padding: 80px;
    color: white;
    align-items: center;
}

h1 {}

main h3 {
    padding: 10px 0;
}

main input {
    min-width: 400px;
    padding: 5px 0;
    border-radius: 4px;
    border-width: 1px;
}

main button {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border-color: #d9534f;
    margin: 0 -5px;
    border-radius: 4px;
}

/*about*/

#about {
    padding: 50px;
}

.container {
    display: flex;
}

.about-value-text {
    width: 70%;
    padding-left: 30px;
}

.about-value-text h2 {
    padding: 50px 0;
}

.about-img {
    margin: auto;
}

.about-value-text p {
    padding: 20px 0;
}

.about-value-para {
    opacity: 0.5;
}

.about-value-text button {
    padding: 8px 10px;
    background-color: white;
    border-color: grey;
    border-radius: 4px;
    border-width: 1px;
}

/* =================================================================
value
*/

#value {
    padding: 80px 0;
    background-color: #f6f6f6;
}

.value-img {
    width: 30%;
    margin: auto;
    text-align: center;
}

#value img {
    width: 30%;
}

/*services*/

#services {
    padding: 80px;
}

#services h2,
#services h3 {
    text-align: center;
}

#services h2 {
    padding: 30px 0;
}

.plj {
    display: flex;
    justify-content: space-around;
}

.gch {
    display: flex;
    justify-content: space-around;
}

.case {
    text-align: center;
    margin: 70px;
}

.case h4 {
    padding: 12px 0 36px 0;
}

/*portfolio*/

#portfolio {
    background-color: #f6f6f6;
    text-align: center;
    padding: 80px;
}

.portfolio-image {
    display: flex;
    justify-content: space-around;
}

#portfolio h3 {
    padding: 60px 0 20px 0;
}

/*customer*/

#custom {
    text-align: center;
    padding: 80px;
    background-color: #f6f6f6;
}

#custom h2 {
    padding-bottom: 50px;
}

.fleche-g {
    width: 10px;
    position: absolute;
    transform: rotate(45deg);
    left: 0%;
    background: #f5a38a;
    height: 29px;
    top: 2px;
    border-radius: 4px;
}

.fleche-gb {
    width: 10px;
    position: absolute;
    transform: rotate(135deg);
    left: 0%;
    background: #f5a38a;
    height: 29px;
    top: 16px;
    border-radius: 4px;
}

.fleche-d {
    width: 10px;
    position: absolute;
    transform: rotate(135deg);
    right: 0%;
    background: #f5a38a;
    height: 29px;
    top: 2px;
    border-radius: 4px;
}

.fleche-db {
    width: 10px;
    position: absolute;
    transform: rotate(45deg);
    right: 0%;
    background: #f5a38a;
    height: 29px;
    top: 16px;
    border-radius: 4px;
}


.carrousel {
    position: relative;
}

/*Pricing*/


#pricing {
    padding: 80px;
}

#pricing h2,
#pricing h3 {
    text-align: center;
}

#pricing h3 {
    padding: 50px 0;
}

.price-titres {
    display: flex;
    justify-content: space-around;
}

.price-titres h4 {
    background-color: #f4511e;
}

.price-titre {
    width: 30%;
    text-align: center;
    border: 2px solid #f4511e;
}

.price-titre h4 {
    padding: 50px 0;
    margin-bottom: 10px;
    color: white;
    font-size: 1.5em;
}


.price {
    border-top: 1px solid grey;
    padding: 30px 0;
}

.price-titre p {
    opacity: 0.5;
}

.price p:nth-of-type(1) {
    padding-top: 0px;
    font-size: 1.6em;
}

.price p:nth-of-type(2) {
    font-size: 0.8em;
    opacity: 0.8;
    padding-bottom: 50px;
}

.nombre p {
    padding: 10px 0;
}

.price button {
    background-color: #f4511e;
    padding: 10px 20px;
    border-width: 0px;
    color: white;
    border-radius: 4px;
}

/*contact*/

#contact {
    background-color: #f6f6f6;
    position: relative;
}

.formulaire {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.contact-num {
    margin: auto 40px;
}

.contact-num p {
    padding: 5px;
}

.formulaire-contact {
    display: block;
    width: 60%;
}

.formulaire-contact input {
    width: 400px;
    padding: 5px 0 5px 10px;
    border-width: 1px;
    border-radius: 2px;
}

textarea {
    display: block;
    width: 818px;
    margin-top: 15px;
    padding: 5px 0 5px 10px;
}

.formulaire-contact button {
    padding: 5px 10px;
    border-radius: 4px;
    border-width: 1px;
    float: right;
    margin-right: 215px;
    margin-top: 40px;
}

.formulaire-contact h2 {
    margin-left: 50px;
    font-weight: 600px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

iframe {
    width: 100%;
}

.footer-fleche-gauche {
    width: 7px;
    position: absolute;
    background-color: red;
    height: 20px;
    z-index: 5;
    bottom: 180px;
    transform: rotate(142deg);
    right: 943px;
}

.footer-fleche-droite {
    width: 7px;
    position: absolute;
    background-color: red;
    height: 20px;
    z-index: 5;
    bottom: 180px;
    transform: rotate(42deg);
    left: 944px;
}

.mention {
    padding: 120px;
    text-align: center;
}